/* 3 - Nesse arquivo .css, adicione os estilos para que:
    1 - O texto das tags 'h1' e 'p' estejam centralizados.
    2 - A cor de fundo da sua lista mude quando o cursor estiver sobre o item.
    3 - A fonte do item mude quando ele for clicado.
4 - Adicione uma lista não ordenada com, pelo menos, 3 características que você gosta.
5 - No 'style.css', adicione a propriedade 'list-style: none' para ambas as listas.
 */
h1, p {
    text-align: center;
}

li:hover {
    background-color: chartreuse;
}

li:active {
    color: yellow;
}
ol, ul {
    list-style: none;
}
