/* 
1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3 .
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico. */

div:hover {
    border: 5px solid red;;
}
.divprimaria:hover {
    color: red;
}
.divsegundaria:hover {
    color: orange;
}
.divcomplementar:hover {
    color: blue;
    font-size: 20px;
}
.divescura:hover {
    color: brown;
}
.divclara:hover {
    color: cyan;
}
h3 {
    font-family: fantasy;
    font-style: italic;
}

